* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #212121;
}

header {
    background-color: #292929;
    padding: 0 15px;
    height: 55px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px rgba(0, 0, 0, 0.3);
    position: relative;
}

header h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #ebebeb;
}

main {
    display: flex;
    gap: 20px;
}

aside {
    width: 100%;
    max-width: 270px;
    background-color: #2c2c2c;
    padding: 30px 20px 20px;
    min-height: calc(100dvh - 55px);
}

.canvas {
    width: 100%;
    max-width: 720px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.pixel {
    width: 100%;
    aspect-ratio: 1;
    background-color: #444;
    user-select: none;
}

.row {
    display: flex;
    gap: 2px;
}

.opition-title {
    color: #ebebeb;
    font-size: 1rem;
    font-weight: 600;
    display: block;
}

.input-size {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 700;
    color: #212121;
    outline: none;
    margin: 10px 0 20px;
}

.input-color {
    appearance: none;
    width: 42px;
    height: 45px;
    border: none;
    background: none;
    cursor: pointer;
    margin: 5px 0 15px;
}

.input-color::-moz-color-swatch {
    border-radius: 50px;
    border: 2px solid #ebebeb;
}

.input-color::-webkit-color-swatch {
    border-radius: 50px;
    border: 2px solid #ebebeb;
}

.used-colors {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.button-color {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-save {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.85rem;
    margin-top: 30px;
    background-color: #ebebeb;
    cursor: pointer;
}

.button-save:hover {
    background-color: #d5d4d4;
}

.resize {
    height: 720px;
    width: 2px;
    background-color: #444;
    margin-top: 20px;
    cursor: col-resize;
}
